/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

p.current {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 200;
  padding: 40px;
}


/* HEADER */

.header {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: #292F2B;
  color: white;
  z-index: 2;
}

h1 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  text-align:center;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.75rem;
}


/* BLOCKS */

.blocks-section {
  width: 75vw;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 25vw;
  height: 25vw;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.4s ease-in;
}

.block:hover {
  filter: invert(100%);
  transition: 0.4s ease-out;
}

.block-icon {
  padding-top: 11%;
  margin-top: 10%;
}

.icon {
  width: 65px;
}

.block-title {
  padding-top: 9%;
  padding-bottom: 30%;
  color: #292F2B;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.15rem;
  letter-spacing: 1px;
}


/* SECTION PERSONAL + FLUX */

.section-flux {
  width: 25vw;
  position: fixed;
  right: 0;
  z-index: 1;
  top: 60px;
  box-shadow: 0 0 50px rgba(0,0,0,0.3)
}

/* PERSONAL DETAILS */

.personal {
  background-color: yellow;
}

p.username {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 30px;
}

p.edit-admin {
  padding-top: 5px;
  padding-bottom: 30px;
}


/* FLUX RSS */

.flux-rss {
  background-color: white;
  height: 100vh;
}


/* ADD NEW MODULE */

.block-plus {
  background-color: #F7F7F7;
  cursor: pointer;
  text-align: center;
/* display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
}

.edit-delete {
  color: #292F2B;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.7rem;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  margin-top: 7%;
}

.edit-button {
  width: 50%;
  text-align: right;
  padding-right: 10px;
}

.delete-button {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.plus {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 4.5rem;
  font-weight: 100;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background-color: yellow;
  line-height: 54px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  display: inline-block;
  margin-top: 35%;
  color: #292F2B;
}

.blocks-section a {
  text-decoration: none;
}

.add-new-module {
  color: #292F2B;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75rem;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 11%;
}

