#blocks {
  margin-left: auto;
  margin-right: auto;
}

.block {
  height: 12vw;
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: silver;
  display: block;
}

.block:hover {
  opacity: 0.6;
}

.block-content {
  color: black;
  font-weight: bold;
}
